@import './variables.module.scss';

.responseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .james {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }

  .response {
    width: 600px;

    .responseInput {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .responseChoices {
      display: flex;
      flex-direction: row;
    }

    .possibleAnswer {
      margin: 0 10px;
      flex: 1;
      background-color: white;
      padding: 10px;
      border: 1px solid transparent;
    }

    .possibleAnswer:hover {
      cursor: pointer;
      border: 1px solid $main-color;
    }

    @media (max-width: 640px) {
      width: 90%;

      .responseChoices {
        flex-direction: column;
      }

      .possibleAnswer {
        flex-grow: 1;
        margin: 0;
        margin-bottom: 10px !important;
      }
    }

    .green {
      color: white;
      background-color: #59e8b5;
    }

    .red {
      color: white;
      background-color: $error-color;
    }

    .greenInput {
      border: 1px solid #59e8b5 !important;
    }

    .redInput {
      border: 1px solid $error-color !important;
    }
  }
}