@import "./variables.module.scss";

.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 10px 5px #d9d9d9;
  border-radius: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;

  .settingsHeader {
    display: flex;
    justify-content: space-between;
  }

  .option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .toggleContainer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      vertical-align: middle;
    }
  }

  .red {
    color: $error-color;
  }
}

@media (max-width: 600px) {
  .settings {
    min-width: 80%;

    .toggleContainer {
      width: 80%;
    }
  }
}

@media (max-width: 400px) {
  .settings {
    .toggleContainer {
      width: 100%;
    }
  }
}